**막대 그래프는 카테고리 비교를 위해 사용**

In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/sports.csv", index_col=0)

In [4]:
df

            Male  Female
Swimming     103     178
Baseball     363     289
Basketball   151      97
Golf         154     232
Soccer       413     109
Bowling       88     129

df.plot()

df.plot(kind="bar")

df.plot(kind="barh")

df.plot(kind="bar", stacked=True)

여성만 추출

df["Female"]

df["Female"].plot(kind="bar")