박스 플롯은 통계정보를 보여주기 위한 그래프

총 5가지 정보를 전달함

* 가장 위의 선: 최대값
* 가장 아래 선: 최소값
* 박스 안의 선: 중간값, 50% 지점(Q2)
* 박스 위의 선: 75% 지점(Q3)
* 박스 아래 선: 25% 지점(Q1)

In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/exam.csv")

In [4]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

df["math score"].describe()

df.plot(kind="box", y="math score")

df.plot(kind="box", y=["math score", "reading score", "writing score"])